extends layout

block content
  main
    section(class="filter")
      form(action="") 
        input(type="text" name="search_query" placeholder="Search Stocks..." value=search_query)
        select(name="type" onchange="this.form.submit()")
          option(value="") ANY
          - for (const t of types) {
            - if (t == type) {
              option(value=t selected)=t
              - continue
            - }
            option(value=t)=t
          - }
    section
      table
        thead
          tr
            th Symbol 
            th Stock
            th Price ($)
            th 7 Day Forecast 
            th 1 Year Forecast
            th Stock Graph (1 Year)
        tbody(id="stocksTable")
    section
    - if (stocks.length == 0) {
      p OOPS! Nothing was found matching your search!
    - }
    - if (search_query) {
      a(href=`?search_all=${search_query}&type=${type}`) Show More Results for this Query
    - }

block styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block scripts
  script.
    const stocks = !{JSON.stringify(stocks)}
  cript(src='./javascripts/load-data.js' type='module')
//-
  script.
    const projectionData = !{JSON.stringify(projectionQuantiles)}
    const actualData = !{JSON.stringify(actualData)}
  script(type='module' src='/javascripts/plot-utility.js')
  